@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    width: 100%;
    overflow-y: auto;
}


.containerTexto {
    font-size:40px;
    font-family: 'Red Hat Display', sans-serif;
    letter-spacing:1.5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:600px;
    height:40px;
  }
  
  .containerTexto * {
    display:inline-block;
    overflow:hidden;
    position:absolute;
  }
  
  .bar {
    width:3px;
    height:49px;
    position:absolute;
    top:-1px;
  }